<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu carrito</title>
    <link rel="stylesheet" href="/css/Carrito.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
</head>

<body>

    <!-- Header -->
    <%- include('./partials/header') -%>

        <!--Main-->
        <main>
            <div class="Seccion1">
                <h3 class="Titulo">Tu carrito iShop</h3>
                <a href="/home" class="fas fa-angle-double-left"></a>
            </div>

            <div class="Seccion2">
                <% let amount=0; %>
                    <% if (products !='' ) { %>
                        <% products.forEach(product=> { %>
                            <div class="Producto">
                                <img src="images/products/<%= product.image %>" alt="" class="imagenProducto">
                                <p class="nameProduct">
                                    <%= product.name %>
                                </p>
                                <p class="priceProduct">Precio: <%= product.price %>$ </p>
                                <a href="/products/deleteToCart/<%= product.id %>" class="trash">
                                    <i class="close fas fa-trash style"></i>
                                </a>
                            </div>
                            <% amount +=Number(product.price) %>
                                <% }) %>
                                    <% } else { %>
                                        <h3 class="vacio">No hay productos en el carrito</h3>
                                        <% } %>
                                            <br>
            </div>

            <p class="total">
                Total: $
                <span class="line">
                    <%= amount %>
                </span>
            </p>

            <div class="botones">
                <button class="boton-pagar" id="btnAbrirPop" onclick="abrirPopup()">Pagar</button>
            </div>

            <div id="overlay" class="overlay">
                <div class="popup" id="popup">
                    <button class="cerrar-popup" onclick="cerrarPopup()"><i class="fas fa-times"></i></button>
                    <div class="in-popUp">
                        <h1>¡Cada vez mas cerca de tus productos!</h1>
                        <h2>Para realizar tu compra primero debes elegir tu metodo de pago: </h2>
                        <div class="Pago">
                            <p class="descuentoParte1">Recuerda que pagando de contado tenes un</p>
                            <p class="descuentoParte2">15% de descuento!</p>
                            <input type="radio" value="cuotas" name="Pagos">Al contado,con descuento de:
                            $<span>
                                <%= amount * 0.15 %></input>
                                    <br>
                                    <input type="radio" value="contado" name="Pagos">12 cuotas de: $<span>
                                        <%= amount / 12 %>
                                    </span></input>
                        </div>
                    </div>
                    <div class="btn-finalizar">
                        <input type="button" class="finalizar" value="Finalizar" onclick="confirm(),cerrarPopup()">
                    </div>
                </div>
            </div>

            <script>

                function abrirPopup() {
                    popup = document.getElementById('popup')
                    overlay = document.getElementById('overlay');
                    overlay.classList.add('active');
                    popup.classList.add('active');
                }

                function cerrarPopup() {
                    popup = document.getElementById('popup')
                    overlay = document.getElementById('overlay');
                    overlay.classList.remove('active')
                    popup.classList.remove('active');
                }

                function confirm() {
                    Swal.fire({
                        title: '¡Y listo!',
                        text: 'Tu compra se realizo con exito!',
                        imageUrl: 'https://www.seriemaniac.com/wp-content/uploads/2020/06/alf_1.jpg',
                        imageWidth: 400,
                        imageHeight: 200,
                        imageAlt: 'Custom image',
                    })

                }

            </script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.10/dist/sweetalert2.all.min.js"></script>


        <% if (products == '') { %>
            <br><br><br><br><br>
        <% } %>  

        </main>

        <!-- Footer -->
        <%- include('./partials/footer') -%>

</body>

</html>