<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iPhones</title>
    <link rel="stylesheet" href="/css/tienda.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');</style>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/header') -%>

    <div class="banner-promo">
        <p class="bold">Bienvenidos</p><p class="banner-text"> a iShop STORE</p>
    </div>
    <p class="ubication"><a href="/home">Inicio</a> Productos / iPhone</p>
    
    <!-- SECTION PRODUCTS IPHONE -->
    <div class="section-products">
        <div class="title-subtitle">
            <h1>iPhone 12</h1>
        </div>
        <div class="container-products">
            <% products.forEach(product => { %>
                <% if(product.category == 'IPhones') {%>
            <div class="product"> 
                <div class="img-contenedor">
                <img src="images/products/<%= product.image %>" alt="">
                </div>
                <h1><%= product.name %></h1>
                <p class="description">
                    <%= product.description %>
                </p>
                <div class="product-center">
                <a class="button-product" href="/products/<%= product.id %>">Ver más
                    <i class="fas fa-arrow-right iconRight"></i>
                </a>
                </div>
            </div>
            <% }  %>

            <% }); %>
        </div>
    </div>


    
    


    <!-- SECTION PRODUCTS -->
    <div class="section-products">

        <div class="title-subtitle">
            <h1>Fundas y protección</h1>
        </div>

        <div class="container-products">
            <% products.forEach(product => { %>
                <% if(product.category == 'Fundas y protección' ) {%>
            <div class="product"> 
                <div class="img-contenedor">
                <img src="images/products/<%= product.image %>" alt="">
                </div>
                <h1> <%= product.name %>  </h1>
                <p class="description">        
                    <%= product.description %> 
                
                </p>
                <div class="product-center">
                <a class="button-product" href="/products/<%= product.id %>">Ver más
                    <i class="fas fa-arrow-right iconRight"></i>
                </a>
                </div>
            </div>
            <% }  %>

            <% }); %>
        </div>
    </div>

    
    <!-- SECTION PRODUCTS -->
    <div class="section-products">

        <div class="title-subtitle">
            <h1>Airpods</h1>
        </div>
        
        <div class="container-products">
            <% products.forEach(product => { %>
                <% if(product.category == 'Auriculares') {%>
            <div class="product">
                <div class="img-contenedor">
                    <img src="images/products/<%= product.image %>" alt="">
                </div>
                <h1><%= product.name %> </h1>
                <p class="description">
                    <%= product.description %> 
                </p>
                <div class="product-center">
                    <a class="button-product" href="/products/<%= product.id %>">Ver más
                        <i class="fas fa-arrow-right iconRight"></i>
                    </a>
                </div>
            </div>
            <% }  %>

            <% }); %>
        </div>
    </div>







    <br><br>

    <!-- Footer -->
    <%- include('./partials/footer') -%>

</body>
</html>