<!DOCTYPE html>

<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>¡Inicia Sesión en iShop!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/login-register.css">
</head>


<body>

    <header class="main-header">
        <div class="logoWrapper">
            <div class="logoContainer">
                <a href="/home"><img src="/images/logo_white_large.png" alt="LogoApple" class="logo"></a>
            </div>
        </div>
    </header>

    <!--Main-->
            <!--LOGIN-->
    <form id="form1" action="/login" method="post">
        <section class="form-login">
            <h5>Inicio de Sesión</h5>
            <% if (locals.errors && errors.emailLogin) { %>
                <p class="error-email">
                    <%= errors.emailLogin.msg %>
                </p>
                <% } %>
                    <input type="text" name="emailLogin" value="" placeholder="Email">
                    <input type="password" name="passwordLogin" value="" placeholder="Contraseña">
                    <label for="">Recordarme</label>
                    <input type="checkbox" name="rememberMe" value="rememberMe"></input>
                    <input type="submit" value="Ingresar">
                    <input type="button" id="button" value="Registrarse">
        </section>
    </form>

    <!--REGISTER-->
    <div class="overlay" id="overlay">
        <div class="popup" id="popup">
            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
            <h3>Registro</h3>
            <h4>Registra tu usuario en nuestro e-commerce.</h4>
            <form id="registerForm" action="/register" method="POST" enctype="multipart/form-data">
                <div class="contenedor-inputs">
                    <input type="text" name="nameRegister" placeholder="Nombre Completo" id="">
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-error">
                            <%= errors.name.msg %>
                        </div>
                        <% } %>
                            <input type="email" name="emailRegister" placeholder="Email" id="">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-error">
                                    <%= errors.email.msg %>
                                </div>
                                <% } %>
                                    <input type="password" name="passwordRegister" placeholder="Contraseña" id="">
                                    <% if (locals.errors && errors.password) { %>
                                        <div class="text-error">
                                            <%= errors.password.msg %>
                                        </div>
                                        <% } %>
                                            <hr>
                                            <h4 class="title">Selecciona tu imagén de perfil:</h4>
                                            <% if (locals.errors && errors.avatar) { %>
                                                <div class="text-error">
                                                    <%= errors.avatar.msg %>
                                                </div>
                                                <% } %>
                                                    <input type="file" name="avatar" id="avatarRegister" accept=".jpeg,.jpg,.png"/>
                </div>
                <input type="submit" class="btn-submit" value="Enviar registro">
            </form>
        </div>
    </div>

    <script src="/js/popup.js"></script>
    <script src="/js/loginValidation.js"></script>
    <script src="/js/registerValidation.js"></script>

</body>




</html>