<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/Profile.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <!-- Header -->
    <%- include('../partials/header') -%>

        <div class="all">

            <div class="section1">

                <div class="profilePhoto">
                    <img src="/images/users/<%=user.avatar %>" alt="userImage" class="userImage">
                </div>
                <p class="nameUser">Editando: <span class="nameUserSpan">
                        <%= user.name %>
                    </span></p>

            </div>

            <form action="/profileEditProcess/<%= user.id %>" method="post">
                <div class="section2">
                    <p class="email">
                        <input type="email" name="profileEmail" class="email" value="<%= user.email %>"
                            placeholder="Email del Usuario">
                    </p>
                </div>

                <div class="section3">
                    <a><button class="editProfile" type="submit"> <i class="far fa-edit"></i>Guardar</button></a>
                </div>
            </form>
            <div class="section3">
                <a href="/profile"><button class="closeSession"> <i
                            class="fas fa-sign-out-alt"></i>Cancelar</button></a>
            </div>
        </div>

        <br><br><br><br><br>

        <!-- Footer -->
        <%- include('../partials/footer') -%>
</body>

</html>